<?xml version="1.0" encoding="UTF-8"?>
<!-- 格式化良好的xml文件，只有一个根元素 -->
<!-- 
	配置文件解释
	* 位置：
		src
		WEB-INF
-->
<beans>
	<!-- 
		<bean> 配置需要new的对象
			id:唯一标识
			class：实现类的全限定类名
			scope:作用域，singleton单例，prototype多例 (不用)
		例如：<bean id="key" class="value" scope="singleton|prototype"></bean>
	 -->
	<!-- #1 配置分类 -->
	<bean id="categoryDaoId" class="com.itheima.ebook.dao.impl.CategoryDaoImpl"></bean>
	<!-- #2 配置用户 -->
	<bean id="userDaoId" class="com.itheima.ebook.dao.impl.UserDaoImpl"></bean>
	<!-- #3 配置书籍 -->
	<bean id="bookDaoId" class="com.itheima.ebook.dao.impl.BookDaoImpl"></bean>
	<!-- #4 配置订单 -->
	<bean id="orderDaoId" class="com.itheima.ebook.dao.impl.OrderDaoImpl"></bean>
	
	<!-- 配置service -->
	<bean id="businessServiceId" class="com.itheima.ebook.service.impl.BusinessServiceImpl">
		<property name="categoryDao" ref="categoryDaoId" value=""></property>
		<property name="userDao" ref="userDaoId"></property>
		<property name="bookDao" ref="bookDaoId"></property>
		<property name="orderDao" ref="orderDaoId"></property>
	</bean>

</beans>